/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/deps.dot
/deps.png
/deps.map
/install-sh
/lia.cache
/Remakefile
/.remake
/remake
/remake.exe
/examples/ComputeMore.v
/html/
/public/
/src/Version.v
/src/IEEE754/Int63Compat.v
/src/Pff/Nat2Z_compat.v
*.vo
*.vos
*.vok
*.glob
.*.aux
.lia.cache
.nra.cache
N*.cm*
N*.native
N*.o
